<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PP Currency :: index</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost }}/assets/css/foundation.css">
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost }}/assets/css/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost }}/assets/css/foundation-datepicker.css">
    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost }}/assets/css/app.css">
    <!-- LOcales usinh EXAMPLE -->
    <!-- <script src="js/locales/foundation-datepicker.sk.js"></script>
    <script>
    $('.fdatepicker').fdatepicker({
      language: 'sk'
    });
    </script> -->
    <noscript><meta http-equiv='refresh' content='0;url="/?nojs=1"'></noscript>
</head>

<body>
    
    {{ form_start(form, {'name' : 'currencyForm', 'method' : 'post'}) }}
    
    <div class="row topMargin10 no-margin-left no-margin-top">
        <div class="small-6 columns">
            <div class="mainWrap callout">
                <h3>PP Currency Converter</h3>
                <p>The PP Currency Converter is using the <span><a href="http://fixer.io/" target="_blank">Fixer.io</a></span> API's data - free JSON API for current and historical foreign exchange rates published by the European Central Bank.</p>
                <p>The rates are updated daily around 4PM CET.</p>
                
                <div class="alert-box" id="ajax-alert-box"></div>
                
                {% for errors in app.session.getFlashBag.get('alerts') %}
                <div data-alert class="alert-box">
                   <ul class="alert-box-ul">
                        {% if errors['alert'] is defined %}
                            {% for key, error in errors['alert'] %}
                            <li class="alert-list">{{ error|raw }}</li>
                            {% endfor %}
                        {% endif %}
                        {% if errors['notice'] is defined %}
                            {% for key, error in errors['notice'] %}
                            <li class="notice-list">{{ error|raw }}</li>
                            {% endfor %}
                        {% endif %}
                        {% if errors['rates'] is defined %}
                            {% for key, error in errors['rates'] %}
                            <li class="rates-list">{{ error|raw }}</li>
                            {% endfor %}
                        {% endif %}
                   </ul>
                </div>
                {% endfor %}
          
                <div class="row">
                    <div class="medium-5 columns">
                        <p>{{ form_row(form.amount) }}</p>
                    </div>
                    <div class="buttonWrap medium-2 columns formElementsLevel text-center">
                        <p>{{ form_row(form.refresh, {'label': ' ', 'attr': {'class': 'button orangeBtn fa fa-refresh'}}) }}</p>
                    </div>
                    <div class="medium-5 columns text-center">
                        <p>
                            <div class="date-rates-wrap row collapse date" id="ratesDate" data-date-format="dd/mm/yyyy">
                                <div class="medium-2 columns button dateBtn formElementsLevel">
                                    <span class="prefix"><i class="fa fa-calendar"></i></span>
                                </div>
                                <div class="medium-8 date-rates-input columns formElementsLevel">
                                    {{ form_row(form.ratesDate) }}
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-5 columns">
                        <p>{{ form_row(form.currencyFrom) }}</p>
                    </div>
                    <div class="buttonWrap medium-2 columns formElementsLevel text-center">
                        <p>{{ form_row(form.exchange, {'label': ' ', 'attr': {'class': 'button orangeBtn fa fa-exchange'}}) }}</p>
                    </div>
                    <div class="medium-5 columns">
                        <p>{{ form_row(form.currencyTo) }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <p>{{ form_row(form.convert, { 'attr': {'class': 'button fullWidth convertBtn'}}) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {{ form_rest(form) }}
    {{ form_end(form) }}
   
    {% block javascripts %} 
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost }}/assets/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost }}/assets/js/vendor/what-input.js"></script>
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost }}/assets/js/vendor/foundation.js"></script>
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost }}/assets/js/app.js"></script>
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost }}/assets/js/foundation-datepicker.js"></script>
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost }}/assets/js/ajax.js"></script>
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost }}/assets/js/custom.js"></script> 
    {% endblock %}
</body>
</html>